services:
  opensearch:
    image: opensearchproject/opensearch:2.11.1
    container_name: opensearch-rag
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g
      - DISABLE_SECURITY_PLUGIN=true
      - knn.memory.circuit_breaker.enabled=false
      - plugins.ml_commons.allow_registering_model_via_local_file=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - "9200:9200"
    volumes:
      - opensearch-data:/usr/share/opensearch/data

volumes:
  opensearch-data:
